.as{
    text-align: center;
    color: rgb(163, 2, 2);
}

.ab{
    text-align: center;
    color: rgb(255, 208, 0);
}

.ac{
    text-align: center;
    border: 1;
    color: rgb(12, 59, 12);
   
    
}

.ad{
    text-align: center;
    color: rgb(53, 53, 104);
}
.az{
    color: rgba(255, 255, 255, 0.822);
    background-color: black;
}